* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  font-family: "Comfortaa", sans-serif;
  height: 100vh;
}

/* Main Section */
.main {
  display: flex;
  width: 100%;
  height: 100%;

  .hamburger {
    color: rebeccapurple;
    padding-top: 75px;
    padding-left: 20px;
    position: absolute;
    cursor: pointer;
    z-index: 50;
  }
}

.main .right-side {
}